<aside id="adminSidebar" class="sidebar col-md-2" >
  <div class="list-group vh-100 border-end" style="border-radius: 0;">
    <a href="/admin/dashboard" id="dashboard" class="list-group-item admin-side border-0 mt-3 my-1 h5">
      <i class="fas fa-house p-2"></i>
      <span class="m-2 d-none d-lg-inline">Dashboard</span>
    </a>
    <a href="/admin/products" id="products" class="list-group-item admin-side border-0 my-1 h5">
      <i class="fas fa-bag-shopping p-2"></i>
      <span class="m-2 d-none d-lg-inline">Products</span>
    </a>
    <a href="/admin/product-categories" id="categories" class="list-group-item border-0 admin-side my-1 h5">
      <i class="fas fa-sitemap p-2"></i>
      <span class="m-2 d-none d-lg-inline">Categories</span>
    </a>
    <a href="/admin/orders" id="orders" class="list-group-item border-0  admin-side my-1 h5">
      <i class="fas fa-cart-shopping p-2"></i>
      <span class="m-2 d-none d-lg-inline">Orders</span>
    </a>
    <a href="/admin/users-list" id="customers" class="list-group-item border-0 admin-side my-1 h5">
      <i class="fas fa-users p-2"></i>
      <span class="m-2 d-none d-lg-inline">Customers</span>
    </a>
    <a href="/admin/reviews" id="reviews" class="list-group-item border-0 admin-side my-1 h5">
      <i class="fas fa-comment p-2"></i>
      <span class="m-2 d-none d-lg-inline">Reviews</span>
    </a>
    <a href="/admin/coupons" id="coupons" class="list-group-item border-0 admin-side my-1 h5">
      <i class="fas fa-id-card p-2"></i>
      <span class="m-2 d-none d-lg-inline">Coupons</span>
    </a>
    <a href="/admin/offers" id="offers" class="list-group-item border-0 admin-side my-1 h5">
      <i class="fa-solid fa-tag p-2"></i>      
      <span class="m-2 d-none d-lg-inline">Offers</span>
    </a>
    <a href="/admin/banners" id="banners" class="list-group-item border-0 admin-side my-1 h5">
      <i class="fas fa-flag p-2"></i>
      <span class="m-2 d-none d-lg-inline">Banners</span>
    </a>
    <a href="/admin/sub-admins" id="subadmins" class="list-group-item border-0 admin-side my-1 h5">
      <i class="fas fa-user-plus p-2"></i>
      <span class="m-2 d-none d-lg-inline">Sub-Admins</span>
    </a>
  </div>
</aside>