<header>
  <nav
    class="navbar navbar-light bg-white justify-content-between border-bottom fixed-top"
  >
    <div
      class="container-fluid d-flex justify-content-between align-items-center"
    >
      <div>
        <a class="navbar-brand mx-5" href="#">
          <img src="/images/logo-no-background 1.png" alt="Icon" />
        </a>
      </div>
      <div class="d-flex">
      <a class="btn btn-md btn-white border" href="/home">View as user</a>
      <div class="dropdown mx-5">
        <button
          class="btn bg-light dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa-regular fa-circle-user fa-lg"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a href="/admin/logout" class="dropdown-item">logout</a></li>
        </ul>
      </div>
      </div>
    </div>
  </nav>
</header>