<header>
  <nav class="navbar navbar-light bg-light justify-content-between border-bottom fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <div>
        <a class="navbar-brand m-5" href="">
          <img class="m-2" src="/images/logo-no-background 1.png" alt="Icon" />
        </a>
      </div>
    </div>
  </nav>
</header>