<br /><hr />
<footer class="bg-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img
          src="/images/logo-no-background 1.png"
          alt="E-Commerce Logo"
          class="img-fluid mb-5"
        />
        <ul class="list-unstyled">
          <li><a class="text-dark text-decoration-none" href="">Contact Us</a></li>
          <li><a class="text-dark text-decoration-none" href="">About Us</a></li>
          <li><a class="text-dark text-decoration-none" href="">FAQ</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a class="text-dark text-decoration-none" href="">Home</a></li>
          <li><a class="text-dark text-decoration-none" href="">Shop</a></li>
          <li><a
              class="text-dark text-decoration-none"
              href=""
            >Categories</a></li>
          <li><a class="text-dark text-decoration-none" href="">Cart</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Categories</h5>
        <ul class="list-unstyled">
          <li><a class="text-dark text-decoration-none" href="">Legal</a></li>
          <li><a class="text-dark text-decoration-none" href="">Company Info</a></li>
          <li><a
              class="text-dark text-decoration-none"
              href=""
            >Features</a></li>
          <li><a
              class="text-dark text-decoration-none"
              href=""
            >Resources</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Get in Touch</h5>
        <p>Subscribe to our newsletter for updates:</p>
        <form action="" method="get">
          <div class="form-group">
            <input
              type="email"
              name="email"
              class="form-control"
              placeholder="Enter your email"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</footer>