<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EP-CART</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/favicon.png" type="image/png">
</head>
<body>
    {{#if user}}
    {{>user-header}}
    {{/if}}

    {{#if notVerifiedUser}}
    {{>user-header}}
    {{/if}}

    {{#if personNotVerified}}
    {{> empty-header}}
    {{/if}}

    {{#if verifiedAdmin}}
    {{>admin-header}}
    {{>admin-sidebar}}
    {{/if}}

    {{#if admin}}
    {{> admin-header}}
    {{/if}}
    
    {{{body}}}

    {{#if user}}
    {{>user-footer}}
    {{/if}}
    {{#if notVerifiedUser}}
    {{>user-footer}}
    {{/if}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="/js/adminSidePanel.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/addProduct.js"></script>
    <script src="/js/addCategory.js"></script>
    <script src="/js/addCoupon.js"></script>
    <script src="/js/product.js"></script>
    <script src="/js/productView.js"></script>
    <script src="/js/wishlist.js"></script>
    <script src="/js/userCart.js"></script>
    <script src="/js/checkout.js"></script>
    <script src="/js/trackOrder.js"></script>
    <script src="/js/profile.js"></script>
    </body>
</html>