<body class="vh-100 d-flex justify-content-center align-items-center ">
    <div class="error-container text-center ">
        <h1 class="text-danger">404</h1>
        <h4>Oops! page is not found</h4>
        <a href="/" class="text-decoration-none">GO TO HOME</a>
    </div>
</body>


