<body>
  <div class="container mt-5 p-5">
    <div class="row m-3" style="min-height: 100vh;">
      <div class="card col-md-3 border-0">
        <div class="d-flex justify-content-center m-2">
          <img
            src="/images/epcartprofile.jpg"
            class="card-img-top rounded-circle"
            alt="Profile Picture"
            style="width: 150px; height: 150px;"
          />
        </div>
        <div class="card-body text-center">
          {{#if userData}}
          <h5 class="card-title">{{userData.Name}}</h5>
          {{else}}
          <h5 class="card-title">User</h5>
          {{/if}}
          {{#if userData}}
            <p class="card-text">{{userData.Email}}</p>
          {{/if}}
        <hr />
        
        </div>
      </div>

      <main class="col-md-8 border-start">
        <form action="/profile/change-password" method="post">
          <div class="d-flex justify-content-between">
            <div>
              <h3>CHANGE YOUR PASSWORD</h3>
            </div>
            <div>
              <button
                type="submit"
                class="btn btn-secondary text-white"
              >UPDATE</button>
            </div>
          </div>
          <hr />
          <br />
          <div class="d-flex justify-content-center text-center fw-bold text-danger">
            {{#if message.error}}
            {{message.error}}
            {{/if}}
          </div>
          <div class="form-group">
            <label for="Password">Current password:</label>
            <input
              type="text"
              name="Password"
              class="form-control bg-white"
              id="Currentpassword"
              placeholder="Enter your current password"
              required
            />
          </div><br />
          <div class="form-group">
            <label for="newpassword">New Password:</label>
            <input
              type="text"
              name="NewPassword"
              class="form-control bg-white"
              id="Newpassword"
              placeholder="Enter password to update"
              required
            />
          </div><br />
          {{#if message.error}}
          <div class="text-center">
            <a href="/profile/forgot-password" >forgot password?</a>
          </div>
          {{/if}}
        </div>
        </div>
        </form>
      </main>
    </div>
  </div>
</body>