<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="invoice-box">
        <div class="row">
          <div class="col-md-6">
            <img
              src="https://sparksuite.github.io/simple-html-invoice-template/images/logo.png"
              class="img-fluid"
              style="max-width: 300px;"
              alt="Company Logo"
            />
          </div>
          <div class="col-md-6 text-right">
            <p>Invoice #: 123</p>
            <p>Created: January 1, 2023</p>
            <p>Due: February 1, 2023</p>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-6">
            <address>
              <strong>Sparksuite, Inc.</strong><br />
              12345 Sunny Road<br />
              Sunnyville, CA 12345
            </address>
          </div>
          <div class="col-md-6">
            <address>
              <strong>EP CART</strong><br />
              John Doe<br />
              john@example.com
            </address>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-6">
            <p><strong>Payment Method</strong></p>
            <p>Online</p>
          </div>
          <div class="col-md-6 text-right">
            <p><strong>#456546ty89uhijhj</strong></p>
            <p>1000</p>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-6">
            <h4>Items</h4>
          </div>
          <div class="col-6 text-right">
            <h4>Price</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            Website design
          </div>
          <div class="col-6 text-right">
            30000
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            Hosting (3 months)
          </div>
          <div class="col-6 text-right">
            7500
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            Domain name (1 year)
          </div>
          <div class="col-6 text-right">
            1000
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-6">
            <strong>Total:</strong>
          </div>
          <div class="col-6 text-right">
            <strong>3850</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>