<div class="row m-2 mt-4 d-flex justify-content-center">
  <div class="col-md-8 col-12" >
    <div class="card border-0 shadow mt-5">
      <div class="card-header bg-white border-0">
        <h2 class="text-center">Sign Up</h2>
      </div><br />
      <div class="text-danger d-flex justify-content-center fw-bold">
          {{#if message.error}}
          {{message.error}}
          {{/if}}
        </div>
      <div class="card-body">
        {{#if refferalId}}
        <form action="/signup/{{refferalId}}" method="post">
        {{else}}
        <form action="/signup" method="post">
        {{/if}}
          <div class="form-row d-flex justify-content-around">
            <div class="form-group col-md-5 mx-1">
              <label for="username">Username</label>
              <input
                name="Name"
                type="text"
                class="form-control"
                style="border: none; border-bottom: 1px solid #352F44; border-radius: 0;"
                id="username"
                placeholder="Username"
              />
            </div>
            <div class="form-group col-md-5 mx-1">
              <label for="phone">Phone Number</label>
              <input
                name="Phone"
                type="tel"
                class="form-control"
                style="border: none; border-bottom: 1px solid #352F44; border-radius: 0;"
                id="phone"
                placeholder="Phone Number"
              />
            </div>
          </div>
          <div class="form-group col-md-11 m-5">
            <label for="email">Email</label>
            <input
              name="Email"
              type="email"
              class="form-control"
              style="border: none; border-bottom: 1px solid #352F44; border-radius: 0;"
              id="email"
              placeholder="Email"
            />
          </div>
          <div class="form-row d-flex justify-content-around">
            <div class="form-group col-md-5 mx-1">
              <label for="password">Password</label>
              <input
                name="Password"
                type="password"
                class="form-control"
                style="border: none; border-bottom: 1px solid #352F44; border-radius: 0;"
                id="password"
                placeholder="Password"
              />
            </div>
            <div class="form-group col-md-5 mx-1">
              <label for="confirmPassword">Confirm Password</label>
              <input
                name="Confirmation"
                type="password"
                class="form-control"
                style="border: none; border-bottom: 1px solid #352F44; border-radius: 0;"
                id="confirmPassword"
                placeholder="Confirm Password"
              />
            </div>
          </div>
          <br>

          <br>
          <div class="text-center">
            already have an account?<a href="/login" >sign in</a>
          </div>
          <br>
          <div class="row d-flex justify-content-center mb-2">
            <div class="col-md-4">
              <a
                href="/"
                class="btn btn-secondary btn-block btn-lg bg-white"
                style="width: 100%; color:#352F44"
              >
                <span class="m-2">Back to home</span></a>
            </div>
            
            <div class="col-md-6">
              <button
                class="btn btn-secondary btn-block btn-lg text-white"
                type="submit"
                style="width: 100%; background-color:#352F44"
              >Sign up</button>
            </div>
          </div>
        </form>
      </div>
      <br />
    </div>
  </div>
</div>
